<nz-spin [nzSpinning]="loading">
  <div class="passage-space">
    <div class="passage-title">
      <div class="avatar"><i nz-icon type="user"></i></div>
      <div class="author-info">
        <span class="author-name">{{passage.username}}</span>
        <span class="publish-time">{{passage.publishTime | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
    </div>
    <div class="passage-content">
      <div class="title">{{passage.title}}</div>
      <p>{{omitContent}}...<span style="color: rgba(24,144,255, .8); cursor: pointer;" (click)="emitRequest()">查看全文</span></p>
    </div>
  </div>
</nz-spin>


