<div [class.active]="activeClass" class="address-block">
  <!--<div class="addr-select">-->
  <!--<i nz-icon type="check" *ngIf="selected"></i>-->
  <!--</div>-->
  <div class="client-basic-info">
    <span class="client-name">{{item.recipientName}}</span>
    <span class="phone-no">{{item.phone}}</span>
  </div>
  <div class="postcode">
    <span>邮政编码： {{item.postcode}}</span>
  </div>
  <div class="detail-addr">
    <span>{{item.detailAddress}}</span>
  </div>
  <div class="action-button">
    <i nz-icon type="edit" class="edit-icon" (click)="edit(item)"></i>
    <i nz-icon type="delete" class="delete-icon" nz-popconfirm nzTitle="确认删除？" (nzOnConfirm)="delete(item.addressId)"></i>
  </div>
</div>




