<nz-table
  #recycleOrders
  [nzData]="displayData"
  [nzFrontPagination]="false"
  [nzTotal]="recycleItemList?.length"
  [nzPageSize]="8"
  [(nzPageIndex)]="pageIndex"
  (nzPageIndexChange)="searchData()">
  <thead>
  <tr>
    <th>回收订单编号</th>
    <th>原订单编号</th>
    <th>商品名称</th>
    <th>回收价格</th>
    <th>回收状态</th>
    <th>申请时间</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of recycleOrders.data">
    <td>{{data.recycleOrderID}}</td>
    <td>{{data.orderId}}</td>
    <td>{{data.itemName}}</td>
    <td style="color: red" *ngIf="data.recyclePrice > 0">￥{{data.recyclePrice | number: '.2'}}</td>
    <td style="color: red" *ngIf="data.recyclePrice == 0">回收请求未通过，无回收价格</td>
    <td>{{recycleOrderStatus[data.status]}}</td>
    <td>{{data.requestedTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
    <td class="operation">
      <i nz-tooltip nzTitle="查看详情" nz-icon type="file-search" (click)="showDetail(data)"></i>
      <i nz-tooltip nzTitle="确认回收" nz-icon *ngIf="recycleOrderStatus[data.status] == '已通过'" type="property-safety" (click)="confirmRecycle(data)"></i>
      <i nz-tooltip nzTitle="取消" nz-icon *ngIf="recycleOrderStatus[data.status] !== '已完成' && recycleOrderStatus[data.status] !== '已取消' && recycleOrderStatus[data.status] !== '未通过'" type="close-square" (click)="cancelRecycle(data)"></i>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #customEmpty>
  <div style="text-align: center;">
    <i nz-icon type="smile" style="font-size: 20px;"></i>
    <p>请先登录</p>
  </div>
</ng-template>
