<div class="recycle-item-detail" *ngIf="recycleItemDetail">
  <div class="item-info">
    <div class="item-img" *ngIf="item">
      <img [src]="item.imgUrl" [alt]="item.name">
    </div>
    <div class="item-detail">
      <div class="item-name">{{data.itemName}}</div>
      <div class="price" *ngIf="data.recyclePrice > 0">回收价：￥{{data.recyclePrice}}</div>
      <div class="price" *ngIf="data.recyclePrice == 0">回收请求未通过</div>
    </div>
  </div>
  <div class="order-time">
    <div><span style="color: #000;">购买时间：</span>{{recycleItemDetail.purchaseTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
    <div><span style="color: #000;">申请回收时间：</span>{{data.requestedTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="general-condition">
    <div><span style="color: #000;">商品成色：</span>{{generalCondition}}</div>
  </div>
  <div class="component">
    <span *ngIf="data.type == 'COMPUTER'"><span style="color: #000;">CPU:</span>{{cpuStatus}}</span>
    <span *ngIf="data.type == 'COMPUTER' || data.type == 'CELLPHONE'"><span style="color: #000;">内存:</span>{{memoryStatus}}</span>
    <span *ngIf="data.type == 'COMPUTER'"><span style="color: #000;">固态硬盘:</span>{{ssdStatus}}</span>
    <span *ngIf="data.type == 'CELLPHONE'"><span style="color: #000;">存储空间:</span>{{ssdStatus}}</span>
    <span *ngIf="data.type == 'EARPHONE'"><span style="color: #000;">声音情况:</span>{{voiceStatus}}</span>
    <span *ngIf="data.type == 'EARPHONE'"><span style="color: #000;">拆修情况:</span>{{fixStatus}}</span>
  </div>
  <div class="item-status" *ngIf="vitalProblemList && componentStatusList">
    <div class="status-title">
      <span style="color: #000; font-size: 18px;">配件情况</span>
      <div class="component-status" *ngFor="let componentStatus of componentStatusList">
        <span>{{componentStatus}}</span>
      </div>
    </div>
    <div class="problem-title">
      <span style="color: #000; font-size: 18px;">严重问题</span>
      <div class="problem-list" *ngFor="let problem of vitalProblemList">
        <span>{{problem}}</span>
      </div>
    </div>
  </div>
</div>
