<div class="recycle-item-detail">
  <div class="item-info">
    <div class="item-img">
      <img [src]="recycleItemDetail.itemImg" [alt]="recycleItemDetail.itemName">
    </div>
    <div class="item-detail">
      <div class="item-name">{{recycleItemDetail.itemName}}</div>
      <div class="price" *ngIf="recycleItemDetail.recyclePrice > 0">回收价：￥{{recycleItemDetail.recyclePrice}}</div>
      <div class="price" *ngIf="recycleItemDetail.recyclePrice == 0">回收请求不能通过，原因：{{recycleItemDetail.reason}}</div>
    </div>
  </div>
  <div class="order-time">
    <div><span style="color: #000;">购买时间：</span>{{recycleItemDetail.orderTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
    <div><span style="color: #000;">申请回收时间：</span>{{recycleItemDetail.requestedTime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
  </div>
  <div class="component">
    <span *ngIf="recycleItemDetail.itemType == 'computer'"><span style="color: #000;">CPU:</span>{{recycleItemDetail.cpuStatus}}</span>
    <span *ngIf="recycleItemDetail.itemType == 'computer' || recycleItemDetail.itemType == 'cellphone'"><span style="color: #000;">内存:</span>{{recycleItemDetail.memoryStatus}}</span>
    <span *ngIf="recycleItemDetail.itemType == 'computer'"><span style="color: #000;">固态硬盘:</span>{{recycleItemDetail.ssdStatus}}</span>
    <span *ngIf="recycleItemDetail.itemType == 'cellphone'"><span style="color: #000;">存储空间:</span>{{recycleItemDetail.ssdStatus}}</span>
    <span *ngIf="recycleItemDetail.itemType == 'earphone'"><span style="color: #000;">声音情况:</span>{{recycleItemDetail.voiceStatus}}</span>
    <span *ngIf="recycleItemDetail.itemType == 'earphone'"><span style="color: #000;">拆修情况:</span>{{recycleItemDetail.fixStatus}}</span>
  </div>
  <div class="item-status">
    <div class="status-title">
      <span style="color: #000; font-size: 18px;">配件情况</span>
      <div class="component-status" *ngFor="let componentStatus of recycleItemDetail.componentReplaceStatus">
        <span>{{componentStatus}}</span>
      </div>
    </div>
    <div class="problem-title">
      <span style="color: #000; font-size: 18px;">配件情况</span>
      <div class="problem-list" *ngFor="let problem of recycleItemDetail.vitalProblem">
        <span>{{problem}}</span>
      </div>
    </div>
  </div>
</div>
