<nz-steps [nzCurrent]="current" nzSize="small">
  <nz-step nzTitle="选择要回收的产品"></nz-step>
  <nz-step nzTitle="确定产品使用状态"></nz-step>
  <nz-step nzTitle="回收估价"></nz-step>
</nz-steps>

<div class="steps-content">
  <div class="first-step-content" *ngIf="current == 0">
    <nz-input-group nzSearch [nzSize]="'large'" [nzAddOnAfter]="suffixButton">
      <input [(ngModel)]="orderId" type="text" nz-input placeholder="输入订单编号"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="searchOrderById()">搜索</button>
    </ng-template>

    <div *ngIf="specifiedOrder != null">
      <nz-divider></nz-divider>
      <div class="addr-info">
        <div class="client-basic-info">
          <span>收件人姓名：{{specifiedOrder?.clientName}}</span>
        </div>
        <span>收件人手机号码：{{specifiedOrder?.clientPhone}}</span>
        <div class="addr-detail">
          <span>收件地址： {{specifiedOrder?.clientAddr}}</span>
        </div>
      </div>
      <nz-divider></nz-divider>
      <div class="item-display" *ngFor="let itemData of orderItemsList">
        <div (click)="selectRecycleItem(itemData)" class="item-info" [class.active]="selectedItem?.itemId == itemData.itemId">
          <div class="item-img">
            <img [src]="itemData?.itemImg" [alt]="itemData?.itemName">
          </div>
          <div class="item-detail">
            <div class="item-name">{{itemData?.itemName}}</div>
            <div class="price">原价：￥{{itemData?.itemPrice}}</div>
          </div>
        </div>
        <nz-divider></nz-divider>
      </div>
    </div>

    <div *ngIf="selectedItem != null"><span>已选择回收商品：{{selectedItem.itemName}}</span></div>

  </div>



  <div class="second-step-content" *ngIf="current == 1">

    <nz-input-group class="purchase-time" nzAddOnBefore="购买时间：">
      <input nz-input [placeholder]="specifiedOrder.orderTime | date: 'yyyy-MM-dd HH:mm:ss'" [disabled]="true" />
    </nz-input-group>
    <div class="use-status">
      <nz-select style="width: 100%;" [(ngModel)]="useStatus" nzAllowClear nzPlaceHolder="产品使用状态">
        <nz-option nzValue="1" nzLabel="全新未拆"></nz-option>
        <nz-option nzValue="0.9" nzLabel="9成新，无使用痕迹"></nz-option>
        <nz-option nzValue="0.8" nzLabel="8成新，表面无明显使用痕迹"></nz-option>
        <nz-option nzValue="0.7" nzLabel="7成新，使用痕迹较明显"></nz-option>
        <nz-option nzValue="0.6" nzLabel="6成新，有明显损耗痕迹"></nz-option>
        <nz-option nzValue="0.5" nzLabel="5成新，多处磨损、刮擦"></nz-option>
      </nz-select>
    </div>
    <div class="component-status">
      <nz-select style="width: 30%;" *ngIf="selectedItem.itemType == 'computer'" [(ngModel)]="cpuStatus" nzAllowClear nzPlaceHolder="处理器">
        <nz-option nzValue ="i3" nzLabel="i3"></nz-option>
        <nz-option nzValue ="i5" nzLabel="i5"></nz-option>
        <nz-option nzValue ="i7" nzLabel="i7"></nz-option>
      </nz-select>
      <nz-select style="width: 30%;" *ngIf="selectedItem.itemType == 'computer'" [(ngModel)]="memoryStatus" nzAllowClear nzPlaceHolder="内存">
        <nz-option nzValue ="4" nzLabel="4g"></nz-option>
        <nz-option nzValue ="8" nzLabel="8g"></nz-option>
        <nz-option nzValue ="16" nzLabel="16g"></nz-option>
        <nz-option nzValue ="32+" nzLabel="32g及以上"></nz-option>
      </nz-select>
      <nz-select style="width: 30%;" *ngIf="selectedItem.itemType == 'computer'" [(ngModel)]="ssdStatus" nzAllowClear nzPlaceHolder="固态硬盘">
        <nz-option nzValue ="0" nzLabel="无固态硬盘"></nz-option>
        <nz-option nzValue ="128" nzLabel="128g"></nz-option>
        <nz-option nzValue ="256" nzLabel="256g"></nz-option>
        <nz-option nzValue ="512+" nzLabel="512g及以上"></nz-option>
      </nz-select>

      <nz-select style="width: 50%;" *ngIf="selectedItem.itemType == 'cellphone'" [(ngModel)]="memoryStatus" nzAllowClear nzPlaceHolder="内存">
        <nz-option nzValue ="4" nzLabel="4g"></nz-option>
        <nz-option nzValue ="8" nzLabel="8g"></nz-option>
        <nz-option nzValue ="16" nzLabel="16g"></nz-option>
        <nz-option nzValue ="32+" nzLabel="32g及以上"></nz-option>
      </nz-select>
      <nz-select style="width: 50%;" *ngIf="selectedItem.itemType == 'cellphone'" [(ngModel)]="ssdStatus" nzAllowClear nzPlaceHolder="手机存储大小">
        <nz-option nzValue ="32" nzLabel="32g"></nz-option>
        <nz-option nzValue ="64" nzLabel="64g"></nz-option>
        <nz-option nzValue ="128" nzLabel="128g"></nz-option>
      </nz-select>

      <nz-select style="width: 50%;" *ngIf="selectedItem.itemType == 'earphone'" [(ngModel)]="voiceStatus" nzAllowClear nzPlaceHolder="声音情况">
        <nz-option nzValue ="0" nzLabel="声音异常或有杂音偏音"></nz-option>
        <nz-option nzValue ="1" nzLabel="声音正常"></nz-option>
      </nz-select>
      <nz-select style="width: 50%;" *ngIf="selectedItem.itemType == 'earphone'" [(ngModel)]="fixStatus" nzAllowClear nzPlaceHolder="有无拆修史">
        <nz-option nzValue ="0" nzLabel="有拆修"></nz-option>
        <nz-option nzValue ="1" nzLabel="无拆无修"></nz-option>
      </nz-select>
    </div>

    <div class="component-replace">
      <nz-select *ngIf="selectedItem.itemType == 'computer'"
        style="width: 100%;"
        nzMode="multiple"
        [(ngModel)]="componentReplaceSelectedStatusList"
        nzAllowClear
        nzPlaceHolder="零件更换情况" (ngModelChange)="detectComponentReplaceSelectedStatusChange()">
        <nz-option *ngFor="let option of computerComponentReplaceStatusList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && componentReplaceDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'cellphone'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="componentReplaceSelectedStatusList"
                 nzAllowClear
                 nzPlaceHolder="零件更换情况" (ngModelChange)="detectComponentReplaceSelectedStatusChange()">
        <nz-option *ngFor="let option of cellphoneComponentReplaceStatusList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && componentReplaceDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'earphone'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="componentReplaceSelectedStatusList"
                 nzAllowClear
                 nzPlaceHolder="包装配件情况" (ngModelChange)="detectComponentReplaceSelectedStatusChange()">
        <nz-option *ngFor="let option of earphoneComponentReplaceStatusList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && componentReplaceDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'mouse'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="componentReplaceSelectedStatusList"
                 nzAllowClear
                 nzPlaceHolder="包装配件情况" (ngModelChange)="detectComponentReplaceSelectedStatusChange()">
        <nz-option *ngFor="let option of mouseComponentReplaceStatusList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && componentReplaceDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'keyboard'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="componentReplaceSelectedStatusList"
                 nzAllowClear
                 nzPlaceHolder="包装配件情况" (ngModelChange)="detectComponentReplaceSelectedStatusChange()">
        <nz-option *ngFor="let option of keyboardComponentReplaceStatusList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && componentReplaceDisabled"></nz-option>
      </nz-select>
    </div>

    <div class="vital-problem">
      <nz-select *ngIf="selectedItem.itemType == 'computer'"
        style="width: 100%;"
        nzMode="multiple"
        [(ngModel)]="vitalProblemList"
        nzAllowClear
        nzPlaceHolder="重大的使用问题" (ngModelChange)="detectVitalProblemSelectedChange()">
        <nz-option *ngFor="let option of computerVitalProblemList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && vitalProbleDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'cellphone'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="vitalProblemList"
                 nzAllowClear
                 nzPlaceHolder="重大的使用问题" (ngModelChange)="detectVitalProblemSelectedChange()">
        <nz-option *ngFor="let option of cellphoneVitalProblemList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && vitalProbleDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'earphone'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="vitalProblemList"
                 nzAllowClear
                 nzPlaceHolder="重大的使用问题" (ngModelChange)="detectVitalProblemSelectedChange()">
        <nz-option *ngFor="let option of earphoneVitalProblemList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && vitalProbleDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'mouse'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="vitalProblemList"
                 nzAllowClear
                 nzPlaceHolder="重大的使用问题" (ngModelChange)="detectVitalProblemSelectedChange()">
        <nz-option *ngFor="let option of mouseVitalProblemList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && vitalProbleDisabled"></nz-option>
      </nz-select>

      <nz-select *ngIf="selectedItem.itemType == 'keyboard'"
                 style="width: 100%;"
                 nzMode="multiple"
                 [(ngModel)]="vitalProblemList"
                 nzAllowClear
                 nzPlaceHolder="重大的使用问题" (ngModelChange)="detectVitalProblemSelectedChange()">
        <nz-option *ngFor="let option of keyboardVitalProblemList" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.value != '0' && vitalProbleDisabled"></nz-option>
      </nz-select>
    </div>

  </div>

  <div class="third-step-content" *ngIf="current == 2">
    <div class="price-title">
      <span>系统估价</span>
    </div>
    <div class="price">￥500.00</div>
    <div class="price-desc">估价仅作参考，具体价格以实际报价为准</div>
  </div>

</div>

<div class="steps-action">
  <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
    <span>上一步</span>
  </button>
  <button nzType="primary" [disabled]="((selectedItem == null) && (current == 0)) || (((cpuStatus == null || memoryStatus == null || ssdStatus == null) && (voiceStatus == null || fixStatus == null) || componentReplaceSelectedStatusList.length == 0 || vitalProblemList.length == 0) && current == 1)" nz-button (click)="next()" *ngIf="current < 2">
    <span>下一步</span>
  </button>
  <button nz-button nzType="primary" (click)="submit()" *ngIf="current == 2">
    <span>提交申请</span>
  </button>
</div>
