<div class="shopping-cart-page">
  <div>
    <h1 class="page-title"><i nz-icon type="shopping-cart"></i>购物车</h1>
  </div>
  <div class="addr-select-list">
    <div class="select-zone">
      <span class="zone-title">选择地址</span>
      <p class="select-name">收件人：{{selectResult.name}}</p>
      <p class="select-addr">收件地址：{{selectResult.addr}}</p>
    </div>
    <div nz-row nzGutter="16">
      <form>
        <div *ngFor="let address of addressList" nz-col nzSpan="6">
          <label>
            <app-address-item [activeClass]="selectAddrId == address.addressId" [item]="address" (deleteEvent)="detectAddrDelete($event)" (modifyItem)="detectAddrModify($event)"></app-address-item>
            <i class="select-icon" nz-icon type="check" *ngIf="selectAddrId == address.addressId"></i>
            <input type="radio" [name]="address.clientId" [id]="address.addressId" [value]="address.addressId" [(ngModel)]="selectAddrId" (ngModelChange)="detectSelectChange()">
          </label>
        </div>
      </form>
      <div *ngIf="addressList.length < 8" nz-col nzSpan="6">
        <app-new-address-button (newAddrEvent)="addNewAddr($event)"></app-new-address-button>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <nz-table
    #shoppingCartItems
    [nzData]="displayData"
    [nzFrontPagination]="false"
    [nzTotal]="10"
    [nzPageSize]="8"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="searchData()">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="isAllDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)">
        </th>
        <th></th>
        <th>商品名称</th>
        <th>单价</th>
        <th>数量</th>
        <th>总价</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shoppingCartItems.data">
        <td nzShowCheckbox [(nzChecked)]="mapofCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
        <td (click)="turnToDetailPage(data)" class="detail-page-link"><img [src]="data.imgUrl" [alt]="data.name"></td>
        <td (click)="turnToDetailPage(data)" class="detail-page-link">{{data.name}}</td>
        <td>￥{{data.itemPrice}}</td>
        <td><nz-input-number [(ngModel)]="data.item_num" [nzMin]="1" [nzStep]="1"></nz-input-number></td>
        <td>￥{{data.item_num * data.itemPrice}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<app-back-top></app-back-top>
