<div class="shopping-cart-page">
  <div>
    <h1 class="page-title"><i nz-icon type="shopping-cart"></i>购物车</h1>
  </div>
  <div class="addr-select-list">
    <div class="select-zone">
      <span class="zone-title">选择地址</span>
      <p class="select-name">收件人：{{selectResult.name}}</p>
      <p class="select-addr">收件地址：{{selectResult.addr}}</p>
    </div>
    <div nz-row nzGutter="16">
      <form>
        <div *ngFor="let address of addressList" nz-col nzSpan="6">
          <label>
            <app-address-item [activeClass]="selectAddrId == address.addressId" [item]="address" (deleteEvent)="detectAddrDelete($event)" (modifyItem)="detectAddrModify($event)"></app-address-item>
            <i class="select-icon" nz-icon type="check" *ngIf="selectAddrId == address.addressId"></i>
            <input type="radio" [name]="address.clientId" [id]="address.addressId" [value]="address.addressId" [(ngModel)]="selectAddrId" (ngModelChange)="detectSelectChange()">
          </label>
        </div>
      </form>
      <div *ngIf="addressList.length < 8" nz-col nzSpan="6">
        <app-new-address-button (newAddrEvent)="addNewAddr($event)"></app-new-address-button>
      </div>
    </div>
  </div>
</div>
