<div class="order-detail-modal">
  <div class="addr-info">
    <div class="client-basic-info">
      <span>{{item.clientName}}</span>
      <span>{{item.clientPhone}}</span>
    </div>
    <span class="postcode">{{item.clientPostcode}}</span>
    <div class="addr-detail">
      <span>{{item.clientAddr}}</span>
    </div>
  </div>

<!--  <nz-list-->
<!--  [nzDataSource]="itemData"-->
<!--  [nzItemLayout]="'vertical'"-->
<!--  [nzRenderItem]="detailItem">-->
<!--    <ng-template #detailItem let-detailItem>-->
<!--      <nz-list-item [nzContent]="content" [nzExtra]="itemInfo">-->
<!--        <ng-template #content>-->
<!--          <img [src]="detailItem.img" [alt]="detailItem.name">-->
<!--        </ng-template>-->
<!--        <ng-template #itemInfo>-->
<!--          <div class="item-info">-->
<!--            <p>{{detailItem.name}}</p>-->
<!--            <p>X {{detailItem.num}}:￥{{detailItem.totalPrice}}</p>-->
<!--          </div>-->
<!--        </ng-template>-->
<!--      </nz-list-item>-->
<!--    </ng-template>-->
<!--  </nz-list>-->
  <nz-divider></nz-divider>
  <div *ngFor="let itemData of itemList">
    <div (click)="turnToDetailPage(itemData)" class="item-info">
      <div class="item-img">
        <img [src]="itemData.img" [alt]="itemData.name">
      </div>
      <div class="item-detail">
        <div class="item-name">{{itemData.name}}</div>
        <div class="num-price">X{{itemData.num}}: ￥{{itemData.totalPrice}}</div>
      </div>
    </div>
    <nz-divider></nz-divider>
  </div>

  <div class="price-zone">
    <span>￥{{price}}</span>
  </div>
</div>
